In [42]:
import pandas as pd
import yfinance as yf
import datetime

In [5]:
msft = yf.Ticker("alsn")

In [14]:
msft.earnings

         Revenue   Earnings
Year
2016  1840000000  215000000
2017  2262000000  504000000
2018  2713000000  639000000
2019  2698000000  604000000

In [7]:
msft.recommendations['To Grade']

Date
2012-03-16 08:19:00              Buy
2012-03-19 14:00:00    Long-Term Buy
2012-03-22 07:03:00       Overweight
2012-04-03 11:53:00              Buy
2012-04-20 06:18:00              Buy
                           ...
2020-07-20 11:39:40       Overweight
2020-07-20 13:50:49              Buy
2020-07-20 14:48:02       Strong Buy
2020-07-23 08:43:04       Overweight
2020-07-23 13:06:12          Perform
Name: To Grade, Length: 279, dtype: object

In [88]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "a",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "3mo",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
#         interval = "2m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  1 of 1 completed

In [89]:
data

                  Open        High         Low       Close   Volume
Date
2020-06-02   89.811406   90.440083   88.923272   90.100800  1682800
2020-06-03   90.460045   90.949016   90.070863   90.300377  1382500
2020-06-04   89.631787   91.547762   89.631787   90.949020  2227500
2020-06-05   91.936946   92.845043   89.901220   90.190613  2844700
2020-06-08   89.122850   90.400166   88.873374   90.100800  1804700
...                ...         ...         ...         ...      ...
2020-08-27   99.190002   99.660004   97.559998   99.019997  1236900
2020-08-28   99.000000   99.930000   98.540001   99.900002   866000
2020-08-31   99.900002  101.040001   99.750000  100.419998  1076900
2020-09-01  100.919998  101.290001  100.250000  101.120003  1159700
2020-09-02  101.000000  103.620003  100.459999  103.500000  1045090

[66 rows x 5 columns]

In [82]:
data

               AA                                       A              \
             Open   High    Low   Close     Volume   Open        High
Date
2020-07-02    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-06    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-07    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-08    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-09    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-10    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-13    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-14    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-15    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-16    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-17    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-20    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-21    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-22    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-23    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-24    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-27    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-28    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-29    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-30    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-07-31    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-03    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-04    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-05    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-06    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-07    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-10    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-11    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-12    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-13    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-14    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-17    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-18    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-19    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-20    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-21    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-24    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-25    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-26    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-27    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-28    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-08-31    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-09-01    NaN    NaN    NaN     NaN        NaN    NaN         NaN
2020-09-02  14.73  14.87  14.41  14.715  4895595.0  101.0  103.620003

                                                     AAN             \
                   Low       Close     Volume       Open       High
Date
2020-07-02         NaN         NaN        NaN  46.799999  47.419998
2020-07-06         NaN         NaN        NaN  46.230000  46.230000
2020-07-07         NaN         NaN        NaN  44.330002  44.400002
2020-07-08         NaN         NaN        NaN  43.250000  44.060001
2020-07-09         NaN         NaN        NaN  43.630001  44.160000
2020-07-10         NaN         NaN        NaN  43.910000  44.610001
2020-07-13         NaN         NaN        NaN  44.450001  44.880001
2020-07-14         NaN         NaN        NaN  42.250000  43.180000
2020-07-15         NaN         NaN        NaN  44.500000  45.459999
2020-07-16         NaN         NaN        NaN  44.480000  45.080002
2020-07-17         NaN         NaN        NaN  44.439999  44.680000
2020-07-20         NaN         NaN        NaN  42.799999  43.049999
2020-07-21         NaN         NaN        NaN  43.099998  44.290001
2020-07-22         NaN         NaN        NaN  43.240002  44.669998
2020-07-23         NaN         NaN        NaN  44.040001  45.669998
2020-07-24         NaN         NaN        NaN  44.880001  45.430000
2020-07-27         NaN         NaN        NaN  44.959999  46.090000
2020-07-28         NaN         NaN        NaN  45.619999  46.639999
2020-07-29         NaN         NaN        NaN  49.000000  56.200001
2020-07-30         NaN         NaN        NaN  54.000000  55.910000
2020-07-31         NaN         NaN        NaN  52.000000  52.880001
2020-08-03         NaN         NaN        NaN  52.599998  53.049999
2020-08-04         NaN         NaN        NaN  51.570000  52.950001
2020-08-05         NaN         NaN        NaN  52.700001  54.119999
2020-08-06         NaN         NaN        NaN  53.930000  54.730000
2020-08-07         NaN         NaN        NaN  53.990002  54.689999
2020-08-10         NaN         NaN        NaN  54.950001  57.369999
2020-08-11         NaN         NaN        NaN  57.709999  58.759998
2020-08-12         NaN         NaN        NaN  58.220001  59.900002
2020-08-13         NaN         NaN        NaN  58.580002  59.459999
2020-08-14         NaN         NaN        NaN  57.990002  58.810001
2020-08-17         NaN         NaN        NaN  58.740002  58.990002
2020-08-18         NaN         NaN        NaN  57.000000  57.250000
2020-08-19         NaN         NaN        NaN  56.900002  57.340000
2020-08-20         NaN         NaN        NaN  56.180000  57.930000
2020-08-21         NaN         NaN        NaN  56.230000  57.970001
2020-08-24         NaN         NaN        NaN  57.500000  58.209999
2020-08-25         NaN         NaN        NaN  58.439999  58.650002
2020-08-26         NaN         NaN        NaN  56.959999  57.709999
2020-08-27         NaN         NaN        NaN  57.000000  58.330002
2020-08-28         NaN         NaN        NaN  57.240002  58.439999
2020-08-31         NaN         NaN        NaN  57.090000  57.439999
2020-09-01         NaN         NaN        NaN  55.619999  57.549999
2020-09-02  100.459999  103.565002  1034009.0  57.180000  57.470001


                  Low      Close   Volume
Date
2020-07-02  44.540001  44.730000   413000
2020-07-06  44.299999  45.040001   549800
2020-07-07  42.759998  43.450001   841000
2020-07-08  42.720001  43.820000   577800
2020-07-09  43.150002  43.810001   518800
2020-07-10  43.160000  44.099998   367700
2020-07-13  42.380001  42.410000   480700
2020-07-14  41.650002  42.830002   597300
2020-07-15  43.660000  44.900002   718400
2020-07-16  43.290001  44.040001   426400
2020-07-17  43.000000  43.139999   406000
2020-07-20  42.099998  42.610001   312800
2020-07-21  43.040001  43.689999   345400
2020-07-22  43.009998  44.430000   380100
2020-07-23  43.860001  44.939999   478500
2020-07-24  44.000000  44.700001   433700
2020-07-27  44.419998  45.970001   658800
2020-07-28  45.169998  45.169998   618500
2020-07-29  49.000000  54.389999  4160000
2020-07-30  52.060001  52.759998  1379600
2020-07-31  50.889999  52.180000  1570100
2020-08-03  51.520000  51.599998  1157900
2020-08-04  51.459999  52.209999   646400
2020-08-05  51.500000  53.880001   920300
2020-08-06  53.040001  54.310001   707600
2020-08-07  53.570000  54.619999   675700
2020-08-10  54.720001  56.849998  1248200
2020-08-11  57.119999  57.259998  1041800
2020-08-12  57.650002  59.200001  1728500
2020-08-13  57.209999  58.410000   844400
2020-08-14  57.430000  58.459999   328200
2020-08-17  57.150002  57.360001   446300
2020-08-18  55.730000  56.630001   553300
2020-08-19  55.750000  56.970001   462700
2020-08-20  56.180000  56.720001   384600
2020-08-21  56.020000  56.720001   666500
2020-08-24  56.820000  58.099998   673200
2020-08-25  56.910000  56.950001   385100
2020-08-26  56.169998  56.439999   338300
2020-08-27  56.310001  56.919998   429200
2020-08-28  56.419998  56.919998   678500
2020-08-31  54.250000  55.889999   927100
2020-09-01  55.240002  56.549999   475000
2020-09-02  55.549999  57.369999   387599

In [15]:
from yahoofinancials import YahooFinancials

In [18]:
ticker = 'alsn'
yahoo_financials = YahooFinancials(ticker)

In [21]:
balance_sheet_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'balance')

AttributeError: 'NoneType' object has no attribute 'group'

In [30]:
type(pd.read_html('https://finance.yahoo.com/calendar/earnings/?day=2020-06-30&symbol=msft')[0]['Earnings Date'].iloc[4])

str

In [69]:
dt = pd.read_html('https://finance.yahoo.com/calendar/earnings/?day=2020-06-30&symbol=msft')[0]

In [72]:
dt

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
0,MSFT,Microsoft Corp,"Jul 20, 2021, 6 AMEDT",-,-,-
1,MSFT,Microsoft Corp,"Apr 27, 2021, 4 PMEDT",-,-,-
2,MSFT,Microsoft Corp,"Jan 27, 2021, 5 PMEDT",-,-,-
3,MSFT,Microsoft Corp,"Oct 21, 2020, 4 PMEDT",1.54,-,-
4,MSFT,Microsoft Corporation,"Jul 22, 2020, 12 AMEDT",1.34,1.46,+8.71
...,...,...,...,...,...,...
95,MSFT,Microsoft Corporation,"Jan 19, 1999, 12 AMEDT",0.15,0.18,+23.47
96,MSFT,Microsoft Corporation,"Oct 20, 1998, 12 AMEDT",0.12,0.14,+13.84
97,MSFT,Microsoft Corporation,"Jul 16, 1998, 12 AMEDT",0.12,0.13,+4.99
98,MSFT,Microsoft Corporation,"Apr 22, 1998, 12 AMEDT",0.12,0.13,+5.72
99,MSFT,Microsoft Corporation,"Jan 21, 1998, 12 AMEDT",0.1,0.11,+3.85

In [68]:
dt['Earnings Date'] = pd.to_datetime(dt['Earnings Date'], format='%b %d, %Y, %H %p%Z', coerce='ignore')

TypeError: to_datetime() got an unexpected keyword argument 'coerce'

In [66]:
datetime.datetime.strptime('Jul 20, 2021, 6 AMEDT', '%b %d, %Y, %H %p%Z')
# datetime.datetime.strptime("Jan 21 1998", "%b %d %Y")

datetime.datetime(2021, 7, 20, 6, 0)

In [61]:
date_string = "Jun 21, 2018, 6"

print("date_string =", date_string)
print("type of date_string =", type(date_string))

date_object = datetime.datetime.strptime(date_string, "%b %d, %Y, %H")

print("date_object =", date_object)
print("type of date_object =", type(date_object))

date_string = Jun 21, 2018, 6
type of date_string = <class 'str'>
date_object = 2018-06-21 06:00:00
type of date_object = <class 'datetime.datetime'>

In [73]:
data = dt[dt['Surprise(%)'] != '-']

In [74]:
data

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise(%)
4,MSFT,Microsoft Corporation,"Jul 22, 2020, 12 AMEDT",1.34,1.46,+8.71
5,MSFT,Microsoft Corporation,"Apr 29, 2020, 12 AMEDT",1.26,1.4,+10.67
6,MSFT,Microsoft Corporation,"Jan 29, 2020, 12 AMEDT",1.32,1.51,+14.48
7,MSFT,Microsoft Corporation,"Oct 23, 2019, 12 AMEDT",1.25,1.38,+10.84
8,MSFT,Microsoft Corporation,"Jul 18, 2019, 12 AMEDT",1.21,1.37,+12.94
...,...,...,...,...,...,...
95,MSFT,Microsoft Corporation,"Jan 19, 1999, 12 AMEDT",0.15,0.18,+23.47
96,MSFT,Microsoft Corporation,"Oct 20, 1998, 12 AMEDT",0.12,0.14,+13.84
97,MSFT,Microsoft Corporation,"Jul 16, 1998, 12 AMEDT",0.12,0.13,+4.99
98,MSFT,Microsoft Corporation,"Apr 22, 1998, 12 AMEDT",0.12,0.13,+5.72
99,MSFT,Microsoft Corporation,"Jan 21, 1998, 12 AMEDT",0.1,0.11,+3.85

In [76]:
date_string = data['Earnings Date'].iloc[0]

In [78]:
date_object = datetime.datetime.strptime(date_string, "%b %d, %Y, %H %p%Z")

In [79]:
date_object

datetime.datetime(2020, 7, 22, 12, 0)